@model IEnumerable<RamaMed.Models.BasicClinic>
@{
    ViewData["Title"] = "Basic Clinic";
}


<div class="card">
    <div class="card-header text-capitalize bg-info text-center text-light"><h3>Clinical symptoms</h3></div>
    <form method="post" class="card-body">
        <div id="form-content">

        </div>
        <div class="card-footer text-right">
            <input class="btn btn-outline-info btn-primary" type="submit" asp-action="ClinicalData" />
        </div>
    </form>
</div>


@{var stringArray = @Html.Raw(Json.Serialize(Model));}

<script>
    var formitem = @stringArray;
    console.log(formitem);
</script>

<script src="~/js/clinical.js"></script>
